// FONTS
$font-titre: "SourceBold";
$font-text: "SourceRegular";

// COLORS
$color-primary: #3E0018;
$color-secondary: #88002D;
$color-thirsty: #885C7E;
$color-white: #F2F7F2;
$color-black: #333333;

// UTILITIES
$style-less: none;