{% extends 'base.html.twig' %}

{% block title %}Créer votre cave{% endblock %}

{% block main %}
<main id="create">
    <div class="container">
        <h2>Bienvenue !</h2>
        <p>Vous n'avez pas encore de cave. Donnez-lui un nom pour commencer</p>

        {% for message in app.flashes('error') %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}

        <form method="post" action="{{ path('app_create_cave') }}">
            <label for="name">Nom de votre cave :</label>
            <input type="text" id="name" name="name" required>

            <button type="submit" class="btn">Créer ma cave</button>
        </form>
    </div>
</main>
{% endblock %}