@use "../base/variables" as v;

header {
    font-family: v.$font-titre;
    background-color: v.$color-white;
    nav {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        a {
            text-decoration: v.$style-less;
            position: relative;
            span {
                position: absolute;
                left: 35px;
                right: 0px;
                top: -10px;
                bottom: 0px;
                font-size: 80px;
                rotate: 12deg;
                text-shadow: 0 0 3px v.$color-thirsty;
                -webkit-text-stroke: 0.5px v.$color-thirsty;
                color: v.$color-secondary;
            }
        }
        .nav-left, .nav-right {
            width: 40%;
            background-color: v.$color-secondary;
            height: 100%;
            ul {
                padding: 0;
                display: flex;
                justify-content: space-evenly;
                li {
                    list-style: v.$style-less;
                    margin: 1.2vh 0;
                    a {
                        font-size: 36px;
                        position: relative;
                        color: v.$color-white;
                        text-decoration: none;
                        transition: color 0.3s ease;

                        &::after {
                            content: '';
                            position: absolute;
                            bottom: 0;
                            height: 2px;
                            width: 100%;
                            background: v.$color-primary;
                            transform: scaleX(0);
                            transition: transform 0.3s ease;
                        }

                        &:hover {
                            color: v.$color-primary;
                        }
                    }
                }
            }
        }
        .nav-left {
            border-top-right-radius: 30px;
            ul {
                li {
                    a::after {
                        left: 0;
                        transform-origin: left center;
                    }
                    a:hover::after {
                        transform: scaleX(1);
                    }
                }
            }
        }
        .nav-right {
            border-top-left-radius: 30px;
            ul {
                li {
                    a::after {
                        right: 0;
                        transform-origin: right center;
                    }
                    a:hover::after {
                        transform: scaleX(1);
                    }
                }
            }
        }
        
    }
}